@use '../abstracts/' as *;

/*.gallery-grid {
    display: grid;
    grid-template-columns: 450px 670px;
    grid-template-rows: 300px 300px;
    justify-content: center;
    gap: 2rem;
    
                           
    
                        
    
    
}*/