
.w- {
    &25 {
        width: 25%;
    }
    &30 {
        width: 30%;
    }
    &50 {
        width: 50%;
    }
    &75 {
        width: 75%;
    }
    &80 {
        width: 80%;
    }
    &100 {
        width: 100%;
    }
}