

$gray-100: #F4F4F4;
$gray-300: #939EC5;
$gray-500: #838383;
$gray-700: #504D4D;
$gray-800: #333333;
/*$gray: #939EC5;
$gray-lite: #F4F4F4;
$gray-dark: #333333;*/
$white: #FFFFFF;
$black: #000;


$bg-color: $white;





